html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

*::-webkit-scrollbar{
  height: 8px;
  width: 8px;
  background: gray;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb:horizontal{
  background: #000;
  border-radius: 10px;
}